services:
  postgres:
    image: postgres:latest
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
      POSTGRES_DB: sender
      PGDATA: /var/lib/postgresql/data/pgdata
    networks:
      - test_network
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/pgdata
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d sender" ]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true

  app:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    container_name: aiogram_app
    working_dir: /aiogram
    command: > 
      sh -lc '
        echo "Waiting for Postgres...";
        until pg_isready -h "$MIGRATOR_PGHOST" -p "$MIGRATOR_PGPORT" -U "$MIGRATOR_PGUSER" -d "$MIGRATOR_PGDATABASE"; do
          sleep 1;
        done;
        echo "Postgres is ready. Running migrations...";
        alembic upgrade head && python -m app
      '
    networks:
      - tg_bot
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - .env
    volumes:
      - ./app:/aiogram/app:rw
      - ./alembic.ini:/aiogram/alembic.ini:ro
    restart: unless-stopped
    tty: true

  test_app:
    build:
      context: .
      dockerfile: ./app/Dockerfile
    container_name: aiogram_app_test
    working_dir: /aiogram
    command: ["sh", "-lc", "alembic upgrade head && python -m app"]
    depends_on:
      postgres: {condition: service_healthy}
    networks:
      - test_network
    environment:
      - BOT_TOKEN=8254245374:AAFUBp3zb2ZYjlBmo_ClSeF4K6GSvniNBKA
      - DB_NAME=sender
      - DB_USERNAME=postgres
      - DB_PASSWORD=root
      - DB_PORT=5432
      - DB_HOST=postgres
      - TIME_ZONE=Asia/Yekaterinburg
      - SECRET_KEY=qAXbRFYqVPq5cxv2pmsoABfYJJmTHUgGjTKRNUMotzQ=
      - ALLOWED_IDS=6464626548
      - MIGRATOR_PGPORT=5432
      - MIGRATOR_PGUSER=postgres
      - MIGRATOR_PGDATABASE=sender
      - MIGRATOR_PGPASSWORD=root
      - MIGRATOR_PGHOST=postgres
    volumes:
      - ./app:/aiogram/app:rw
      - ./alembic.ini:/aiogram/alembic.ini:ro
    restart: unless-stopped
    tty: true

networks:
  tg_bot:
    driver: bridge
    ipam:
      config:
       - subnet: 172.30.10.0/24
  test_network:
    driver: bridge

volumes:
  pgdata:
